@model SadarakDeptProject.Models.Debt

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <h1 class="pt-3">Düzəliş Et</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Borcu olan şəxsin adı</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label">Vaxtı</label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prise" class="control-label">Miqdarı</label>
                    <input asp-for="Prise" class="form-control" />
                    <span asp-validation-for="Prise" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="isDollar" class="control-label">Məzənnə</label>
                    <select asp-for="isDollar" class="form-control">
                        <option selected disabled value="true">Seçin</option>
                        <option value="false">Manat</option>
                        <option value="true">Dollar</option>
                    </select>
                    <span asp-validation-for="isDollar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Info" class="control-label">Məlumat</label>
                    <input asp-for="Info" class="form-control" />
                    <span asp-validation-for="Info" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MobileNo" class="control-label">Əlaqə nömrəsi</label>
                    <input id="formGroupExampleInput" asp-for="MobileNo" class="form-control" />
                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MobilNo2" class="control-label">Əlavə əlaqə nömrəsi</label>
                    <input id="formGroupExampleInput" asp-for="MobilNo2" class="form-control" />
                    <span asp-validation-for="MobilNo2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Yadda saxla" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="List">Geri</a>
    </div>
</div>
@section Scripts{
    <script>
        $('#formGroupExampleInput').mask('AAAAAAA');
        $(function () {
            $('#formGroupExampleInput').keyup(function () {
                this.value = this.value.toUpperCase();
            });
        });
    </script>


}

