@model SadarakDeptProject.Models.Product
@{
    ViewData["Title"] = "Calculate";
}

<div class="container-fluid">
    <h1 class="pt-3">Hesabla</h1>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div style="display:none" class="form-group">
                    <label asp-for="Name" class="control-label">Produktun adı</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div style="display:none" class="form-group">
                    <label asp-for="Code" class="control-label">Produktun kodu</label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div style="display:none" class="form-group">
                    <label asp-for="Company" class="control-label">Firması</label>
                    <input asp-for="Company" class="form-control" />
                    <span asp-validation-for="Company" class="text-danger"></span>
                </div>
                <div style="display:none" class="form-group">
                    <label asp-for="Count" class="control-label">Produktun sayı</label>
                    <input asp-for="Count" type="number" class="form-control" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
                <div style="display:none" class="form-group">
                    <label asp-for="BuyPrise" class="control-label">Alış qiyməti</label>
                    <input asp-for="BuyPrise" type="text" class="form-control" />
                    <span asp-validation-for="BuyPrise" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rate" class="control-label">Valyuta Məzənnəsi</label>
                    <input asp-for="Rate" type="text" class="form-control" />
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlusPrise" class="control-label">Dəyərin uzerinə qoyulan məbləğ</label>
                    <input asp-for="PlusPrise" type="text" class="form-control" />
                    <span asp-validation-for="PlusPrise" class="text-danger"></span>
                </div>
                <div style="display:none" class="form-group">
                    <label asp-for="Weight" class="control-label">Çəkisi</label>
                    <input asp-for="Weight" class="form-control" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
                <div style="display:none" class="form-group">
                    <label asp-for="isKg" class="control-label">Kq,Kub</label>
                    <select asp-for="isKg" class="form-control">
                        <option selected disabled value="true">Seçin</option>
                        <option value="true">Kiloqram</option>
                        <option value="false">Kub</option>
                    </select>
                    <span asp-validation-for="isKg" class="text-danger"></span>
                </div>
                <div style="display:none" class="form-group">
                    <label asp-for="WayPrice" class="control-label">Karqo qiyməti</label>
                    <input asp-for="WayPrice" type="text" class="form-control" />
                    <span asp-validation-for="WayPrice" class="text-danger"></span>
                </div>
                <div style="display:none" class="form-group">
                    <label asp-for="Status" class="control-label">Status</label>
                    <select asp-for="Status" class="form-control">
                        <option selected disabled value="true">Seçin</option>
                        <option value="true">Mövcuddur</option>
                        <option value="false">Mövcud deyil</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Hesabla" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="List">Geri</a>
    </div>
</div>
@section Scripts {
    <script>
        $('#formGroupExampleInput').mask('(000)00 000-00-00');
        $(function () {
            $('#formGroupExampleInput').keyup(function () {
                this.value = this.value.toUpperCase();
            });
        });
    </script>
}

